+b('div').accordeon
	+e('ul').list
		+accordeon-list([
			{
				title: 'Основы языка и как на нём говорить правильно',
				list: [
					'Лексическая структура',
					'Типы данных, значения и переменные',
					'Выражения и операторы инструкции'
				]
			}, 
			{
				title: 'Функции',
				list: [
					'Функции 1',
					'Функции 2',
					'Функции 2'
				]
			}, 
			{
				title: 'Обработка ошибок и отладка',
				list: [
					'Обработка ошибок и отладка 1',
					'Обработка ошибок и отладка 2',
					'Обработка ошибок и отладка 3'
				]
			}, 
			{
				title: 'Объекты и массивы',
				list: [
					'Объекты и массивы 1',
					'Объекты и массивы 2',
					'Объекты и массивы 3'
				]
			}, 
			{
				title: 'События',
				list: [
					'События 1',
					'События 2',
					'События 3'
				]
			}
		])