.dropdown {
	position: relative;
	max-height: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	transition: all .3s ease;

	&__item {
		padding-left: 22px;
		padding-right: 22px;
	}

	&__item + &__item {
		margin-top: 5px;
	}

	&__item:first-child {
		margin-top: 11px;
	}

	&__item:last-child {
		margin-bottom: 9px;
	}
}

.accordeon_active + .dropdown {
	display: block;
	max-height: 600px;
}