.dropdown {
	position: relative;
	display: none;
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding-top: 11px;
	padding-bottom: 8px;
	overflow: hidden;

	&__item {
		padding-left: 22px;
		padding-right: 22px;
	}

	&__item + &__item {
		margin-top: 5px;
	}
}